[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
mysql-connector-python = "*"
flask-bootstrap = "*"
jwt = "*"
bcrypt = "*"
flask-jwt-extended = "*"
camera = "*"
opencv-python = "*"
"rpi.gpio" = "*"
requests = "*"
psycopg2 = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.10"
