<html>
	<head> 
	<title>Home</title>	
	</head> 
	<body>
		{% if user %}                         //user가 지정되어 있으면
			<p>Nice to meet you. {{user}} </p> // 이문구를 출력
		{% endif %}
		<h1>This is Home!</h1>
		<hr>

		<div>
			<h3>something to do </h3>
			<ul>
				<li>eat</li>
				<li>study</li>
				<li>watching tv</li>
			</ul>
		</div>
	</body>
</html>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Video Streaming</title>
  </head>
  <body>
    <h1>Video Streaming</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
  </body>
</html> -->